<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-nav-title class="tab-title">
    <a href="#/home" nav-clear><img src="img/ylelogo.png" /></a>
    <span>Tilannevahti: Tapahtumatiedot</span>
  </ion-nav-title>
  <ion-content class="padding">
    <h2><i ng-if="evt.source != 'Käyttäjä'" class="icon {{evt.icon}}"></i> {{evt.source}}</h2>
    <h2><i ng-if="evt.source == 'Käyttäjä'" class="icon {{evt.icon}}"></i> {{evt.title}}</h2>
    <time>{{evt.time | date:"d.M.y klo h:mm"}}</time>
    <p>
      {{evt.description}}
    </p>
    <div ng-if="evt.id == 10">
      <h4>Aiheeseen liittyvät artikkelit</h4>
      <a href="http://yle.fi/uutiset/oulun_vankikarkuri_saatiin_kiinni/7513870" target="_blank">Yle.fi: Vankikarkuri saatiin kiinni</a>
      <h4>Aiheeseen liittyvät käyttäjien ilmoitukset</h4>
      <a href="#/tab/feed/11">Vankikarkuri bongattu</a>
    </div>
  </ion-content>
</ion-view>
